<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.WatchHistoryMapper">

    <resultMap id="WatchHistoryMap" type="com.example.demo.model.DTO.WatchHistoryDTO">
        <result property="videoId" column="video_id"/>
        <result property="videoName" column="video_name"/>
        <result property="startedAt" column="started_at"/>
    </resultMap>

    <select id="selectRecentWatchHistoriesByUserId" parameterType="map" resultMap="WatchHistoryMap">

/*
        started_at이 파티셔닝 선두 컬럼이기 때문에 일정 기간에 대한 데이터 필수 삽입해야 함.
        기간정보는 서비스 요구사항에 따라 변경할것. (최대 조회가능 기간 5년... 등등)
        파티션 프루닝 잘 되는지 확인하기...
        */
        SELECT /*+index(wh idx_watch_user_id) */wh.video_id as video_id,
               (SELECT v.video_name FROM video v WHERE v.video_id = wh.video_id) AS video_name,
               wh.started_at as started_at
        FROM watch_history wh
        WHERE wh.user_id = 'user_005'
          AND wh.started_at > SYSDATE - 300
        ORDER BY wh.started_at desc

    </select>

    <select id="selectWatchHistoryByVideoId" parameterType="map" resultType="com.example.demo.model.DTO.WatchHistoryDTO">
        /*
        인덱스 인트 사용 금지
        조회수가 낮은 영상 조회시는 괜찮은데
        조회수가 높은 영상(인기 동영상...) 조회시 성능 저하 가능성 큼.
        통계정보 주기적으로 조회하고 하드파싱 시키는게 나음.
        */
        SELECT user_id
        FROM watch_history
        WHERE video_id = #{videoId}
        AND started_at > SYSDATE - 300
        ORDER BY started_at desc
    </select>

    <insert id="insertWatchHistory" parameterType="com.example.demo.model.DTO.WatchHistoryDTO">
        INSERT INTO watch_history (user_id, video_id, started_at, ended_at)
        VALUES (#{userId}, #{videoId}, #{startedAt,jdbcType=TIMESTAMP}, #{endedAt,jdbcType=TIMESTAMP})
    </insert>

</mapper>